
                                            <h3>Android App Development </h3>
                                            <div class=" well">
                                               <ul>
													<li>Version control with Git and Github </li>
													<li>Java Essential Training </li>
													<li>Advanced Java </li>
													<li>XML </li>
													<li>Android Application Essential Training </li>
													<li>Advanced Android Development </li>
													<li>Deployment to Google Play store </li>
													<li>Android App project </li>
												</ul>
                                             </div>
                                            
                                             <h3>Course Details</h3>
                                             <table class="table table-striped table-bordered">
                                                <tbody>
                                                    <tr>
                                                        <th>Course Start Date</th>
                                                        <td>to be announced</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Course End Date</th>
                                                        <td>to be announced</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Estimated Duration</th>
                                                        <td>4 Months</td>
                                                    </tr>
                                                    
                                                    <tr>
                                                        <th>Course Price</th>
                                                        <td>CFA 300 000</td>
                                                    </tr>
                                                </tbody>
                                             </table>
