
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <!-- Sidebar Container Start -->
                        <div class="sidebar">                         
                            <div class="widget">
                                <h4>Other Courses</h4>
                                <h5>Professional Diploma courses</h5>
                                <ul>
                                    <li>Professional Diploma in Android and web systems</li>
                                    <li>Global infrastructure management specialist</li>
                                </ul>

                                <h5>Certificate Courses</h5>
                                <ul>
                                    <li><a href="#">Android App Development</a></li>
                                    <li><a href="#">Professional Mobile First Web Design</a></li>
                                    <li><a href="#">Web Development With PHP and Laravel</a></li>
                                    <li><a href="#">Web Development with Ruby and Ruby on Rails</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Sidebar Container End -->
                    </div>
                </div>
            </div> 
        </section>   