<h3>Network Administration (CCNA)</h3>
<h4>Course Content</h4>
<div class="well">
    <p>This course consists of Interconnecting Cisco Networking Devices, Part 1 (ICND1) and Interconnecting Cisco Networking Devices, Part 2 (ICND2) content merged into a single course. Overlapping content between ICND1 and ICND2 is eliminated and content is rearranged for the purpose of the course flow. Students will learn how to install, operate, configure, and verify a basic IPv4 and IPv6 network, including configuring a LAN switch, configuring an IP router, connecting to a WAN, and identifying basic security threats. It also includes more in-depth topics that teach learners how to perform basic troubleshooting steps in enterprise branch office networks, preparing students for the Cisco CCNA certification. Upon completing this course, you will have the skills and knowledge to:</p>
    <ul>
    	<li>
    		Install, operate, and troubleshoot a medium-sized network, including connecting to a WAN and implementing network security
    	</li>
    	<li>
    		Describe the effects of new technologies such as IoE, IoT, IWAN, and SDN on network evolution
    	</li>
    </ul>
</div>

<h4>Course Details</h4>
<table class="table table-striped table-bordered">
<tbody>
    <tr>
        <th>Course Start Date</th>
        <td>Immeditaely after Hardware and Network Technician course</td>
    </tr>
    
    <tr>
        <th>Estimated Duration</th>
        <td>3 months</td>
    </tr>
    
    <tr>
        <th>Course Price</th>
        <td>CFA 150 000</td>
    </tr>
</tbody>
</table>
