                                            <h3>Professional Diploma in Android and Web Systems</h3>
                                            <p>Admission conditions:</p>
                                            <p> Professional Mobile First Web Design course or previous knowledge in responsive web design</p>
                                            <br>
                                            <div class="well">
                                              <h4>Course Outline</h4>
                                              <h4>There are two tracks to the course. Choose one</h4>
                                              <br>
                                               <h5>Full Stack php laravel developer with android track</h5>
                                               <ul>
                                                   
                                                   <li>Professional Mobile First Web Design Course</li>
                                                   <li>Web Development with PHP and Laravel Course</li>
                                                   <li>Android App Development course</li>
                                                </ul> 
                                                <br>
                                                <br>
                                                <h5>Full Stack Rails developer with Android track. Recommended for those travelling to US and Europe</h5>
                                                <ul>
                                                   
                                                   <li>Professional Mobile First Web Design Course</li>
                                                   <li>Web Development with Ruby on Rails Course</li>
                                                   <li>Android App Development course</li>
                                                </ul> 
                                             </div>
                                            
                                             <h4>Course Details</h4>
                                             <table class="table table-striped table-bordered">
                                                <tbody>
                                                    <tr>
                                                        <th>Course Start Date</th>
                                                        <td>16 October, 2017</td>
                                                    </tr>
                                                    
                                                    <tr>
                                                        <th>Estimated Duration</th>
                                                        <td>1 Year</td>
                                                    </tr>
                                                    
                                                    <tr>
                                                        <th>Course Price</th>
                                                        <td>CFA 600 000</td>
                                                    </tr>
                                                </tbody>
                                             </table>