                                            <h3>Global IT Infrastructure Management Specialist  </h3>
                                            
                                            <div class=" well">
                                                <h4>Course Outline</h4>
                                                <p>The Global IT Infrastructure Management specialist must be proficient in computer hardware maintenance, network systems management and configuration and server systems from both Linux(RedHat /Ubuntu) and Microsoft.
                                                    This course content is therefore the combination of all the certificate courses listed below. 
                                                </p>
                                               <ul>
													<li>Hardware and Network Technician course </li>
													<li> Network Adminstrator(CCNA) course </li>
													
													<li>Microsoft Server adminsitration Course</li>
													<li>Linux system Adminstrator(RedHAt /Ubuntu)  </li>
													
													
												</ul>
                                             </div>
                                            
                                             <h4>Course Details</h4>
                                             <table class="table table-striped table-bordered">
                                                <tbody>
                                                    <tr>
                                                        <th>Course Start Date</th>
                                                        <td>16th October 2017</td>
                                                    </tr>
                                                     
                                                    <tr>
                                                        <th>Estimated Duration</th>
                                                        <td>1.5 years</td>
                                                    </tr>
                                                    
                                                    <tr>
                                                        <th>Course Price</th>
                                                        <td>600 000 FCFA</td>
                                                    </tr>
                                                </tbody>
                                             </table>
