                                            <h3>Global IT Infrastructure Management Specialist  </h3>
                                            <div class=" well">
                                                <h4>Course Outline</h4>
                                               <ul>
													<li>Comptia A+ Training </li>
													<li> N+ </li>
													<li>CCNA</li>
													<li>Microsoft certified system adminsitrator</li>
													<li>Redhart Linux system certified system engineer training </li>
													<li> Redhart Linux system certified system Adminsitrator training</li>
													<li>Oracle Databases </li>
													
												</ul>
                                             </div>
                                            
                                             <h4>Course Details</h4>
                                             <table class="table table-striped table-bordered">
                                                <tbody>
                                                    <tr>
                                                        <th>Course Start Date</th>
                                                        <td>to be announced</td>
                                                    </tr>
                                                     
                                                    <tr>
                                                        <th>Estimated Duration</th>
                                                        <td>1.5 years</td>
                                                    </tr>
                                                    
                                                    <tr>
                                                        <th>Course Price</th>
                                                        <td>to be announced</td>
                                                    </tr>
                                                </tbody>
                                             </table>
