                                            <h3>Web Development with PHP and Laravel</h3>
                                            <div class=" well">
                                               <ul>
                                                <li>Web communications and engineering</li>
                                                <li>Application Database design</li>
                                                <li>SQL</li>
                                                <li>PHP with MySQL programming</li>
                                                <li>Working with the Windows shell</li>
                                                <li>Web App development with Laravel framework</li>
                                                <li>Version control with Git and Github</li>
                                                <li>Linux system administration and networking</li>
                                                <li>Web app deployment to production</li>
                                                <li>Web development group Project</li>
                                                </ul> 
                                             </div>
                                            
                                             <h3>Course Details</h3>
                                             <table class="table table-striped table-bordered">
                                                <tbody>
                                                    <tr>
                                                        <th>Course Start Date</th>
                                                        <td>Immediately after web design course</td>
                                                    </tr>
                                                     
                                                    <tr>
                                                        <th>Estimated Duration</th>
                                                        <td>4 Months</td>
                                                    </tr>
                                                    
                                                    <tr>
                                                        <th>Course Price</th>
                                                        <td>CFA 270 000</td>
                                                    </tr>
                                                </tbody>
                                             </table>