<h3>Microsoft Server Administration Course (MCSE/MCITP)</h3>
	
<h4>Course Content</h4>
<div class="well">
    <ul>
    	<li>Windows Server 2008 Active Directory, Configuring </li>
    	<li>Windows Server 2008 Network Infrastructure, Configuring </li>
    	<li>Windows Server 2008 Applications Infrastructure, Configuring</li> 
    	<li>Windows Server 2008, Enterprise Administrator</li> 
    </ul>
</div>

<h4>Course Details</h4>
<table class="table table-striped table-bordered">
<tbody>
    <tr>
        <th>Course Start Date</th>
        <td>After end of CCNA Course</td>
    </tr>
    
    <tr>
        <th>Estimated Duration</th>
        <td>6 months</td>
    </tr>
    
    <tr>
        <th>Course Price</th>
        <td>CFA 300 000</td>
    </tr>
</tbody>
</table>
