

    										<h3>Web Development with Ruby on Rails</h3>
                                            <div class=" well">
                                               <ul>
                                                    <li> Web communications and engineering</li>
													<li> Postgresql</li>
													<li> Web Application Database design</li>
													<li> Linux system administration</li>
													<li> Version control with Git and Github</li>
													<li> Object Oriented programming with Ruby</li>
													<li> The Sinatra web  framework</li>
													<li> Ruby on Rails framework</li>
													<li> Web app deployment to production on Heroku</li>
													<li> Web development group Project</li>
                                                </ul> 
                                             </div>
                                            
                                             <h3>Course Details</h3>

                                             <h4>Note: Student either take this special course or the laravel course not both. <strong>Course designed for those who intend to travel abroad </strong></h4>
                                             <table class="table table-striped table-bordered">
                                                <tbody>
                                                    <tr>
                                                        <th>Course Start Date</th>
                                                        <td>After web design course</td>
                                                    </tr>
                                                    
                                                    <tr>
                                                        <th>Estimated Duration</th>
                                                        <td>4 Months</td>
                                                    </tr>
                                                    
                                                    <tr>
                                                        <th>Course Price</th>
                                                        <td>CFA 300 000</td>
                                                    </tr>
                                                </tbody>
                                             </table>
