

    										<h3>Web Development with Ruby on Rails</h3>
                                            <h5>Note: Student either take this special course or the laravel course not both. <strong>Course specially designed for those who intend to travel to the US or Europe </strong></h5>
                                            <p>Ruby on Rails is in high demand in these regions with good starting salaries</p>
                                            <p>Admission Conditions: </p>                                              
                                            <h6>Degree/HND in science,engineering, Technology or economics</h6>
                                            <h6>Professional Mobile First Web Design course or a demonstrated knowledge in responsive web design</h6>
                                            <br>
                                            <div class=" well">
                                                <h4>Course Outline</h4>
                                               <ul>
                                                    <li> Web communications and engineering</li>
													<li> Postgresql</li>
													<li> Web Application Database design</li>
													<li> Linux system administration</li>
													<li> Version control with Git and Github</li>
													<li> Object Oriented programming with Ruby</li>
													<li> The Sinatra web  framework</li>
													<li> Ruby on Rails framework</li>
													<li> Web app deployment to production on Heroku</li>
													<li> Web development group Project</li>
                                                </ul> 
                                             </div>
                                            
                                             <h4>Course Details</h4>

                                             
                                             <table class="table table-striped table-bordered">
                                                <tbody>
                                                    <tr>
                                                        <th>Course Start Date</th>
                                                        <td>1st March 2018 (immediately after the Professional Mobile First Design Course</td>
                                                    </tr>
                                                    
                                                    <tr>
                                                        <th>Estimated Duration</th>
                                                        <td>4 Months</td>
                                                    </tr>
                                                    
                                                    <tr>
                                                        <th>Course Price</th>
                                                        <td>CFA 350 000</td>
                                                    </tr>
                                                </tbody>
                                             </table>
