<!-- course detail top --> 
        <%= render 'topcoursedetails' %>
        <!-- coursedetailtop ends here -->

                                        <!--courseproper -->
                                        <div class="text no-pb">
                                            <%= render 'diplomalist' %>
                                        </div>
                                    <!--courseproper ends here-->
 <!--bottom coursedetails -->
                                     </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <!-- Sidebar Container Start -->
                        <div class="sidebar">

                        <br><br><br><br><br><br><br><br>                        
                            <div class="widget">
                            	<h5>Other Professional Diploma course</h5>
                                
                                
                                <ul>
                                     
                                    <li> <%= link_to "Mobile phone, Laptop  and Flat screen TV repairs", gims_path %></li>
                                </ul>

                                 
                            </div>
                        </div>
                        <!-- Sidebar Container End -->
                    </div>
                </div>
            </div> 
        </section>   
<!--bottom coursedetails ends here -->
        
        <!-- footer -->
<%= render 'footer' %>
        <!--footer ends here -->