<!-- course detail top --> 
        <%= render 'topcoursedetails' %>
        <!-- coursedetailtop ends here -->

                                        <!--courseproper -->
                                        <div class="text no-pb">
                                             <h4>Mobile phone systems Technology</h4>
                                             <h4>Laptop system Technology</h4>
                                             <h4>Flat Screen TV Technology</h4>
                                        </div>
                                    <!--courseproper ends here-->
 <!--bottom coursedetails -->
<%= render 'bottomcoursedetails' %>
<!--bottom coursedetails ends here -->
        
        <!-- footer -->
<%= render 'footer' %>
        <!--footer ends here -->