<!-- course detail top --> 
        <%= render 'topcoursedetails' %>
        <!-- coursedetailtop ends here -->
                                    <h3>Mobile phone, Laptop  and Flat screen TV repairs</h3>
                                    <p>Start your own company with this flagship course</p>
                                    <p class="dta">
                                        The Mobile phone repair industry alone is a very lucrative 4 billion dollar industry. This industry is particularly very much young in Africa and the shops that do repairs often use trial and error methods learned haphazardly from the internet and other road-side training shops thereby lacking a systemic approach to repair. Our course intends to  change all that. We provide both engineering and scientific theory coupled with extensive practicals that place our graduates above the competition. Graduates start earning money even before graduation
                                    </p>
                                    <br>
                                            <h4>Admission conditions:</strong></h4>
                                            <div>
                                            <span class="dinfo"> Everyone with atleast Bac or A Levels with a passion for repairs.</span>
                                          </div>
                                            <br>
                                        <!--courseproper -->
                                    <div class="well">
                                        <div class="text no-pb">
                                             <h4>Mobile phone systems Technology</h4>
                                             <h6>Modules</h6>
                                             <ul>
                                                <li>Introduction to mobile phone systems</li>
                                                <li>Electricity and Magnetism</li>
                                                <li>Analogue Electronics</li>
                                                <li>Tools and Test Equipment for Mobile phones</li>
                                                <li>Mobile Phone sub systems schematics</li>
                                                <li>Microsoldering and Micro-desoldering</li>
                                                <li>Micro Soldering application to mobile phones</li>
                                                <li>Intergrated Circuits</li>
                                                <li>Phone Liquid Damage problems</li>
                                                <li>Cellphone troubleshooting</li>

                                             </ul>
                                             <br>
                                             <br>
                                             <h4>Laptop system Technology</h4>
                                             <h6>Modules</h6>
                                             <ul>
                                                <li>Introduction to Laptop Repairs</li>
                                                <li>Assembly and Dissembly of laptop</li>
                                                <li>Hard Drives, RAM and Installation</li>
                                                <li> Laptop Exploding diagrams</li>
                                                <li>Advance chip-level Laptop Motherboard repair</li>
                                                <li>IC Chip Soldering & Desoldering</li>
                                                <li>Motherboard IC Chip Components</li>
                                                <li>Connector Socket Basic problems ,circuit diagram,& repairing steps</li>
                                                <li>Motherboard Overview: Main Signals of motherboard and how motherboards Work with different IC</li>
                                             </ul>
                                             <br>
                                             <br>
                                             <h4>Flat Screen TV Technology</h4>
                                             <h6>Modules</h6>
                                             <ul>
                                                <li>Flat Screen TV system design, Display types, Component Boards</li>
                                                <li>Schematics</li>
                                                <li>Component analysis and Testing</li>
                                                <li>System and components troubleshooting</li>
                                             </ul>
                                        </div>
                                    </div>
                                    <h4>Course Details</h4>
                                             <table class="table table-striped table-bordered dta">
                                                <tbody>
                                                    <tr>
                                                        <th>Course Start Date</th>
                                                        <td>To be announced</td>
                                                    </tr>
                                                    
                                                    <tr>
                                                        <th>Estimated Duration</th>
                                                        <td>1 Year</td>
                                                    </tr>
                                                    
                                                    <tr>
                                                        <th>Course Price</th>
                                                        <td>CFA 600 000 (Cameroonians), <br> CFA 730,000 (Foreign Students) <br>Pay in two installments</td>
                                                    </tr>
                                                </tbody>
                                             </table>
                                             <br>
                                             <p>We are always modifying our course content to suit industrial demand</p>
                                    <!--courseproper ends here-->
 <!--bottom coursedetails -->
<%= render 'bottomcoursedetails' %>
<!--bottom coursedetails ends here -->
        
        <!-- footer -->
<%= render 'footer' %>
        <!--footer ends here -->