
        <div id="first-slider">
            <div id="carousel-example-generic" class="carousel slide carousel-fade ">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <!-- Item 1 -->
                    <div class="item active slide1">
                        <div class="row">
                            <div class="container">
                                <div class="col-md-3 text-right">
                                    <img style="max-width: 200px;"  data-animation="animated zoomInLeft" src="http://s20.postimg.org/pfmmo6qj1/window_domain.png">
                                </div>
                                <div class="col-md-9 col-xs-12 text-left">
                                    <h3 data-animation="animated bounceInDown">Theory alone gets you no where</h3>
                                    <h4 data-animation="animated bounceInUp">We are 40% theory, 60 % real world coding</h4>  
                                    <button data-animation="animated bounceInDown" type="button" class="btn btn-lg btn-danger" >Apply now!</button>           
                                </div>
                            </div>
                        </div>
                     </div> 
                    <!-- Item 2 -->
                    <div class="item slide2">
                        <div class="row"><div class="container">
                            <div class="col-md-7 text-left">
                                <h3 data-animation="animated bounceInDown"> Expert trainers educated in the US, India and Europe</h3>
                                <h4 data-animation="animated bounceInUp">You code under their watch  </h4>
                                <button data-animation="animated bounceInDown" type="button" class="btn btn-lg btn-danger" >Apply now!</button>
                             </div>
                            <div class="col-md-5 text-right">
                                <img style="max-width: 200px;"  data-animation="animated zoomInLeft" src="http://s20.postimg.org/sp11uneml/rack_server_unlock.png">
                            </div>
                        </div></div>
                    </div>
                    <!-- Item 3 -->
                    <div class="item slide3">
                        <div class="row"><div class="container">
                            <div class="col-md-7 text-left">
                                <h3 data-animation="animated bounceInDown">End of course projects are real world complex applications</h3>
                                <h4 data-animation="animated bounceInUp">In course projects are known apps</h4>
                                <button data-animation="animated bounceInDown" type="button" class="btn btn-lg btn-danger" >Apply now!</button>
                             </div>
                            <div class="col-md-5 text-right">
                                <img style="max-width: 200px;"  data-animation="animated zoomInLeft" src="iipawis.png">
                            </div>     
                        </div></div>
                    </div>
                    <!-- Item 4 -->
                    <div class="item slide4">
                        <div class="row"><div class="container">
                            <div class="col-md-7 text-left">
                                <h3 data-animation="animated bounceInDown">Finally Deploy </h3>
                                <h4 data-animation="animated bounceInUp">See what you have built live for the world to see</h4>
                                <button data-animation="animated bounceInDown" type="button" class="btn btn-lg btn-danger" >Apply now!</button>
                             </div>
                            <div class="col-md-5 text-right">
                                <img style="max-width: 200px;"  data-animation="animated zoomInLeft" src="http://s20.postimg.org/9vf8xngel/internet_speed.png">
                            </div>  
                        </div></div>
                    </div>
                    <!-- End Item 4 -->
                </div>
                <!-- End Wrapper for slides-->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <i class="fa fa-angle-left"></i><span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <i class="fa fa-angle-right"></i><span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        

        
    <div class="page-wrapper">

        <!-- Top Bar Start -->
        <div class="top-bar">
            <div class="container">
                <div class="row">                   
                    <div class="col-md-6 top-social">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 top-contact">
                        <div class="list">
                            <i class="fa fa-envelope"></i> director@iipawis.com
                        </div>
                        <div class="list">
                            <i class="fa fa-phone"></i> +237 682889915
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top Bar End -->
        

        <!-- Header Start -->
        <header>
            <div class="container">
                <div class="row">
                    
                    <div class="col-md-12 col-sm-12 nav-wrapper">

                        <!-- Nav Start -->
                        <!--
                        <nav>
                            <ul class="sf-menu" id="menu">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="#">Pages <i class="fa fa-angle-down"></i></a>
                                    <ul>
                                        <li><a href="about.html">About Us</a></li>
                                        <li><a href="course.html">Our Courses</a></li>
                                        <li><a href="#">Gallery</a>
                                            <ul>
                                                <li><a href="gallery-col-2.html">Gallery 2 Columns</a></li>
                                                <li><a href="gallery-col-3.html">Gallery 3 Columns</a></li>
                                                <li><a href="gallery-col-4.html">Gallery 4 Columns</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="faq.html">FAQ</a></li>
                                        <li><a href="404.html">404 Page</a></li>
                                        
                                    </ul>
                                </li>
                                <li><a href="#">Teachers <i class="fa fa-angle-down"></i></a>
                                    <ul>
                                        <li><a href="teacher.html">Teachers</a></li>
                                        <li><a href="teacher-detail.html">Teachers Detail</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Departments <i class="fa fa-angle-down"></i></a>
                                    <ul>
                                        <li><a href="department.html">Departments</a></li>
                                        <li><a href="department-detail.html">Departments Detail</a></li>
                                    </ul>
                                </li>                                   
                                <li><a href="#">Blog <i class="fa fa-angle-down"></i></a>
                                    <ul>
                                        <li><a href="blog.html">Blog Main</a></li>
                                        <li><a href="blog-single.html">Blog Single</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">Contact</a></li>
                                
                            </ul>
                        </nav>
                        -->
                        <!-- Nav End -->

                    </div>
                </div>
            </div>
        </header>
        <!-- Header End -->


           <div class="show-mobile col-sm-12 col-xs-12 text-center">
            <div class="mobile-content">
                <h3>We Are The Tech Institute You Have Been Waiting For</h3>
                <button  class="btn btn-lg btn-danger" >Click Here to Apply</button>
                <p>Admission currently going on</p> 
            </div>   
        </div>         
       


        <!-- About Start -->
        <section class="about">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="item">
                            <h3>Welcome</h3>
                            <p>
                                The <strong>International Instiute for Professional Android, Web and IT Systems, IIPAWIS </strong>is a specialized institute for high technology launched by <strong>Imagin Technologies Norway</strong>,  in the beautiful town of Buea, South West region of Cameroon. We are located at the serene and exotic former <strong>Mount Cameroon Football Sport Academy Campus</strong>
                            </p>                            
                            <p>
                                IIPAWIS aims to groom students to be competetive in the fast changing world of high technology. The trainings are intensed and highly focused on rigorous programming in Java, Ruby, Javascript, the web frameworks LARAVEL and Ruby on Rails as well as Android Application programming and HTML/CSS
                            </p>  
                            <p>
                                We also offer a cutting edge program in Global IT infrastructure management specialist where the student is taking through all the technology stack<strong> A+, N+, CCNA, RHCSE, RCSA, MCSA, Oracle Databases </strong> required by big companies
                            </p>                          
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="item">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" width="100%" height="315" src="https://www.youtube.com/embed/h4M6BTYRlKQ?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>                                                           
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About End -->
        

        <!-- Course Start -->
        <div class="course">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Our Courses</h2>
                        <div class="h-bar"><i class="fa fa-book"></i></div>
                        <h3>We Provide Just the Right Courses </h3>
                    </div>
                </div>
                <div class="row">
                 <div class=" col-md-12 course-intro"> <h4>Our Professional Diploma Courses </h4></div> <div class=" col-md-0"></div>
                    <div class="col-md-6">
                        <div class="item">
                            <div class="photo" style="background-image:url(images/course1.jpg);">
                            </div>
                            <div class="text">
                                <div class="inner">
                                    <h2>Professional Diploma in Android and Web Systems</h2>
                                    <h3>Fee: CFA 600 000 F</h3>
                                    <h3>Duration: 1 Year</h3>
                                    <p>
                                        Get the advanced skills required to qualify you as a professional Android App and Full stack Web Developer.
                                    </p>
                                    <p>
                                        <a href="course-detail.html" class="btn btn-primary">Read More</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="item">
                            <div class="photo" style="background-image:url(images/course2.jpg);">

                            </div>
                            <div class="text">
                                <div class="inner">
                                    <h2>Global IT Infrastructure Management Specialist &nbsp; &nbsp; &nbsp; &nbsp;</h2>
                                    <h3>Fee: CFA 600 000 F</h3>
                                    <h3>Duration: 1.5 Years</h3>
                                    <p>
                                        Get the Skills set required to qualify you as an IT infrastructure professional for big companies.
                                    </p>
                                    <p>
                                        <a href="course-detail.html" class="btn btn-primary">Read More</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                     

                    <div class=" col-md-12 course-intro"> <h4>Our Certificate Courses </h4></div> <div class=" col-md-0"></div>



                    <div class="col-md-6">
                        <div class="item">
                            <div class="photo android">

                            </div>
                            <div class="text">
                                <div class="inner">
                                    <h2>Android App Development &nbsp; &nbsp; &nbsp; &nbsp;</h2>
                                    <h3>Fee: 300 000 FCFA</h3>
                                    <h4>Duration: 4 months</h4>
                                    <p>
                                        This programming intensive course takes you through advanced Java, XML and Android technologies 
                                    </p>
                                    <p>
                                        <a href="course-detail.html" class="btn btn-primary">Read More</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="item">
                            <div class="photo" style="background-image:url(pages/frontend.jpg);">

                            </div>
                            <div class="text">
                                <div class="inner">
                                    <h2>Professional Mobile First Web Design</h2>
                                    <h3>Fee: 250 000FCFA</h3>
                                     <h4>Duration: 4 months</h4>
                                    <p>
                                        This course takes you through all the technolgies required to craft beautiful interactive websites.
                                    </p>
                                    
                                    <p>
                                        <a href="course-detail.html" class="btn btn-primary">Read More</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="item">
                            <div class="photo" style="background-image:url(pages/php.jpg);">

                            </div>
                            <div class="text">
                                <div class="inner">
                                    <h2>Web Development with PHP and Laravel</h2>
                                    <h3>Fee: 280 000 FCFA</h3>
                                    <h4>Duration: 4 months</h4>
                                    <p>
                                        Learn how to build large database driven websites with PHP and its framework Laravel
                                    </p>
                                    <p>
                                        <a href="course-detail.html" class="btn btn-primary">Read More</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="item">
                            <div class="photo" style="background-image:url(pages/ruby.jpg);">

                            </div>
                            <div class="text">
                                <div class="inner">
                                    <h2>Web Development with Ruby on Rails</h2>
                                    <h3>Fee: 300 000 FCFA</h3>
                                    <h4>Duration: 4 months</h4>
                                    <p>
                                        Learn how to build large database driven websites with Ruby and its framework Ruby on Rails
                                    </p>
                                    <p>
                                        <a href="course-detail.html" class="btn btn-primary">Read More</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>                  
                </div>
            </div>
        </div>
        <!-- Course End -->
        <!-- Department Area Start -->
        <section class="department no-pb">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        
                        <div class="department-grid">
                            
                            <h2>Departments</h2>
                            <div class="h-bar"><i class="fa fa-book"></i></div>
                            <h3>Our Academic Departments</h3>

                            <div class="department-grid-item">
                                <div class="item">
                                    <div class="col-md-4 col-sm-6">
                                        <div class="inner">
                                            <div class="photo">
                                                <img src="pages/augustine.png" alt="">
                                            </div>
                                            <div class="">
                                                <h3><a href="department-detail.html">Android and Java Technologies</a></h3>
                                            </div>              
                                        </div>                      
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        <div class="inner">
                                            <div class="photo">
                                                <img src="pages/augustine.png" alt="">
                                            </div>
                                            <div class="">
                                                <h3><a href="department-detail.html">Web Systems</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        <div class="inner">
                                            <div class="photo">
                                                <img src="pages/augustine.png" alt="">
                                            </div>
                                            <div class="">
                                                <h3><a href="department-detail.html">Systems and Network Administration</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                    <!--
                                    <div class="col-md-4 col-sm-6">
                                        <div class="inner">
                                            <div class="photo">
                                                <img src="images/dept4.jpg" alt="">
                                            </div>
                                            <div class="desc">
                                                <h3><a href="department-detail.html">Management</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        <div class="inner">
                                            <div class="photo">
                                                <img src="images/dept5.jpg" alt="">
                                            </div>
                                            <div class="desc">
                                                <h3><a href="department-detail.html">Marketing</a></h3>
                                            </div>              
                                        </div>                      
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        <div class="inner">
                                            <div class="photo">
                                                <img src="images/dept6.jpg" alt="">
                                            </div>
                                            <div class="desc">
                                                <h3><a href="department-detail.html">Administration</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                    -->
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Department End -->

        
        
        <!-- Testimonial Start -->
        <!--
        <section class="testimonial-v1 parallex-bg-animation">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="heading">
                            <h2>Client Testimonials</h2>
                            <div class="h-bar-white"><i class="fa fa-book"></i></div>
                            <h3>See What Our Clients Tell About Us</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="testimonial-carousel">                      
                            <div class="testimonial-content">
                                <div class="client-info">
                                    <span class="client-name">Robert Gibson</span>
                                    <span class="client-designation">CEO - ABC Media</span>
                                </div>
                                <div class="clinet-img">
                                    <img src="images/testimonial2.jpg" alt=""/>
                                </div>
                                <div class="client-content">
                                    <p>Lorem ipsum dolor sit amet, vestibulum turpis sed orci, vel tellus justo quam, nec molestie. Tincidunt sit proin lacinia et vulputate diam</p>
                                </div>
                            </div>                                          
                        
                            <div class="testimonial-content">
                                <div class="client-info">
                                    <span class="client-name">John Carter</span>
                                    <span class="client-designation">CEO - AAA Lab</span>
                                </div>
                                <div class="clinet-img">
                                    <img src="images/testimonial1.jpg" alt=""/>
                                </div>                              
                                <div class="client-content">
                                    <p>Lorem ipsum dolor sit amet, vestibulum turpis sed orci, vel tellus justo quam, nec molestie. Tincidunt sit proin lacinia et vulputate diam</p>
                                </div>
                            </div>                                          
                        
                            <div class="testimonial-content">
                                <div class="client-info">
                                    <span class="client-name">Peter Smith</span>
                                    <span class="client-designation">Director - CK Multimedia</span>
                                </div>
                                <div class="clinet-img">
                                    <img src="images/testimonial1.jpg" alt=""/>
                                </div>                                  
                                <div class="client-content">
                                    <p>Lorem ipsum dolor sit amet, vestibulum turpis sed orci, vel tellus justo quam, nec molestie. Tincidunt sit proin lacinia et vulputate diam</p>
                                </div>
                            </div>                                          
                        
                            <div class="testimonial-content">
                                <div class="client-info">
                                    <span class="client-name">Don Scott</span>
                                    <span class="client-designation">Chairman - XYZ Ltd</span>
                                </div>
                                <div class="clinet-img">
                                    <img src="images/testimonial1.jpg" alt=""/>
                                </div>                                  
                                <div class="client-content">
                                    <p>Lorem ipsum dolor sit amet, vestibulum turpis sed orci, vel tellus justo quam, nec molestie. Tincidunt sit proin lacinia et vulputate diam</p>
                                </div>
                            </div>                                          
                            
                            <div class="testimonial-content">
                                <div class="client-info">
                                    <span class="client-name">Sam Benville</span>
                                    <span class="client-designation">Founder - Creative LAB</span>
                                </div>
                                <div class="clinet-img">
                                    <img src="images/testimonial2.jpg" alt=""/>
                                </div>                                                                  
                                <div class="client-content">
                                    <p>Lorem ipsum dolor sit amet, vestibulum turpis sed orci, vel tellus justo quam, nec molestie. Tincidunt sit proin lacinia et vulputate diam</p>
                                </div>
                            </div>                                          
                        
                            <div class="testimonial-content">
                                <div class="client-info">
                                    <span class="client-name">Fraser Paterson</span>
                                    <span class="client-designation">CEO - Executive Inc.</span>
                                </div>
                                <div class="clinet-img">
                                    <img src="images/testimonial2.jpg" alt=""/>
                                </div>                                  
                                <div class="client-content">
                                    <p>Lorem ipsum dolor sit amet, vestibulum turpis sed orci, vel tellus justo quam, nec molestie. Tincidunt sit proin lacinia et vulputate diam</p>
                                </div>
                            </div>                                          
                            <div class="testimonial-content">
                                <div class="client-info">
                                    <span class="client-name">Peter Smith</span>
                                    <span class="client-designation">Director - CK Multimedia</span>
                                </div>
                                <div class="clinet-img">
                                    <img src="images/testimonial1.jpg" alt=""/>
                                </div>                                  
                                <div class="client-content">
                                    <p>Lorem ipsum dolor sit amet, vestibulum turpis sed orci, vel tellus justo quam, nec molestie. Tincidunt sit proin lacinia et vulputate diam</p>
                                </div>
                            </div>                                          
                        
                            <div class="testimonial-content">
                                <div class="client-info">
                                    <span class="client-name">Don Scott</span>
                                    <span class="client-designation">Chairman - XYZ Ltd</span>
                                </div>
                                <div class="clinet-img">
                                    <img src="images/testimonial1.jpg" alt=""/>
                                </div>                                  
                                <div class="client-content">
                                    <p>Lorem ipsum dolor sit amet, vestibulum turpis sed orci, vel tellus justo quam, nec molestie. Tincidunt sit proin lacinia et vulputate diam</p>
                                </div>
                            </div>                          
                                                                                
                        </div>                                                                                  

                    </div>
                </div>
            </div>
        </section>
        -->
        <!-- Testimonial End -->


        
        
        <!-- Attorney Start -->
        <div class="attorney padding-tp-90-bt-70">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="heading">
                            <h2>Lecturers</h2>
                            <div class="h-bar"><i class="fa fa-book"></i></div>
                            <h3>Our Distinguished Staff</h3>
                        </div>
                    </div>                  
                </div>
                <div class="row">           
                    <div class="col-md-12">                     
                        <!-- Attorney Container Start -->
                        <div class="attorney-inner">
                            <div class="col-sm-6 col-md-3 item">
                                <div class="inner">
                                    <div class="thumb">
                                        <a href="#"><img src="pages/augustine.png" alt=""></a>
                                        <div class="social-icons">
                                            <div class="Agents-text-overlay">
                                                <div class="Agents-text">
                                                    <h3><a href="teacher-detail.html">Ufeanei Augustine</a></h3>
                                                    <h4>Director</h4>
                                                    <div class="attornery-img">
                                                        <a href="#"><img src="pages/augustine.png" alt=""></a>
                                                    </div>
                                                    <p>Chief software architect for Imagin Technologies Norway, Msc Norway, Sweden. Diploma US</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text">
                                        <h3><a href="teacher-detail.html"> Ufeanei Augustine </a></h3>
                                        <h4>Director </h4>
                                        <div class="social-profile">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            </ul>
                                        </div>                                          
                                    </div>
                                
                                </div>
                            </div>


                            <div class="col-sm-6 col-md-3 item">
                                <div class="inner">
                                    <div class="thumb">
                                        <a href="#"><img src="pages/augustine.png" alt=""></a>
                                        <div class="social-icons">
                                            <div class="Agents-text-overlay">
                                                <div class="Agents-text">
                                                    <h3><a href="teacher-detail.html"> Akwayaga Collins </a></h3>
                                                    <h4>Lecturer</h4>
                                                    <div class="attornery-img">
                                                        <a href="#"><img src="pages/augustine.png" alt=""></a>
                                                    </div>                                                  
                                                    <p>RHCSE, N+ A+ MscE, RHCSA, CCNA, India.Formerly head of IT Trustech </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text">
                                        <h3><a href="teacher-detail.html"> Akwayaga Collins </a></h3>
                                        <h4>Lecturer</h4>
                                        <div class="social-profile">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            </ul>
                                        </div>                                          
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-sm-6 col-md-3 item">
                                <div class="inner">
                                    <div class="thumb">
                                        <a href="#"><img src="pages/augustine.png" alt=""></a>
                                        <div class="social-icons">
                                            <div class="Agents-text-overlay">
                                                <div class="Agents-text">
                                                    <h3><a href="teacher-detail.html">Wilson Tala</a></h3>
                                                    <h4>Lecturer</h4>
                                                    <div class="attornery-img">
                                                        <a href="#"><img src="pages/augustine.png" alt=""></a>
                                                    </div>                                                  
                                                    <p>Web Designer and web systems project engineer, Norway. MEng Belgium, MSc Sweden </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text">
                                        <h3><a href="teacher-detail.html">Wilson Tala</a></h3>
                                        <h4>Lecturer</h4>
                                        <div class="social-profile">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            </ul>
                                        </div>                                          
                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-6 col-md-3 item">
                                <div class="inner">
                                    <div class="thumb">
                                        <a href="#"><img src="pages/augustine.png" alt=""></a>
                                        <div class="social-icons">
                                            <div class="Agents-text-overlay">
                                                <div class="Agents-text">
                                                    <h3><a href="teacher-detail.html">Simplice Samain</a></h3>
                                                    <h4>Lecturer</h4>
                                                    <div class="attornery-img">
                                                        <a href="#"><img src="pages/augustine.png" alt=""></a>
                                                    </div>                                                  
                                                    <p>Software Engineering and IT consultant Yaounde. Msc  Madras University India. </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text">
                                        <h3><a href="teacher-detail.html">Simplice Samain</a></h3>
                                        <h4>Lecturer</h4>
                                        <div class="social-profile">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            </ul>
                                        </div>                                          
                                    </div>
                                </div>
                            </div>
                            <!--- 
                            <div class="col-sm-6 col-md-3 item">
                                <div class="inner">
                                    <div class="thumb">
                                        <a href="#"><img src="laravel.jpg" alt=""></a>
                                        <div class="social-icons">
                                            <div class="Agents-text-overlay">
                                                <div class="Agents-text">
                                                    <h3><a href="teacher-detail.html">Robert Smith</a></h3>
                                                    <h4>Professor</h4>
                                                    <div class="attornery-img">
                                                        <a href="#"><img src="images/teacher1.jpg" alt=""></a>
                                                    </div>                                                  
                                                    <p>Felis pede quisquam, sed sit magna nulla est vel nulla, ante iaculis, vel vivamus, ea ultricies nullam maecenas. </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text">
                                        <h3><a href="teacher-detail.html">Robert Smith</a></h3>
                                        <h4>Professor</h4>
                                        <div class="social-profile">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                            </ul>
                                        </div>                                          
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3 item">
                                <div class="inner">
                                    <div class="thumb">
                                        <a href="#"><img src="laravel.jpg" alt=""></a>
                                        <div class="social-icons">
                                            <div class="Agents-text-overlay">
                                                <div class="Agents-text">
                                                    <h3><a href="teacher-detail.html">Brent Grundy</a></h3>
                                                    <h4>Professor</h4>
                                                    <div class="attornery-img">
                                                        <a href="#"><img src="laravel.jpg" alt=""></a>
                                                    </div>                                                  
                                                    <p>Felis pede quisquam, sed sit magna nulla est vel nulla, ante iaculis, vel vivamus, ea ultricies nullam maecenas. </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text">
                                        <h3><a href="teacher-detail.html">Brent Grundy</a></h3>
                                        <h4>Professor</h4>
                                        <div class="social-profile">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                            </ul>
                                        </div>                                          
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3 item">
                                <div class="inner">
                                    <div class="thumb">
                                        <a href="#"><img src="laravel.jpg" alt=""></a>
                                        <div class="social-icons">
                                            <div class="Agents-text-overlay">
                                                <div class="Agents-text">
                                                    <h3><a href="teacher-detail.html">Jeff Benson</a></h3>
                                                    <h4>Professor</h4>
                                                    <div class="attornery-img">
                                                        <a href="#"><img src="laravel.jpg" alt=""></a>
                                                    </div>                                                  
                                                    <p>Felis pede quisquam, sed sit magna nulla est vel nulla, ante iaculis, vel vivamus, ea ultricies nullam maecenas. </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text">
                                        <h3><a href="teacher-detail.html">Jeff Benson</a></h3>
                                        <h4>Professor</h4>
                                        <div class="social-profile">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                            </ul>
                                        </div>                                          
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3 item">
                                <div class="inner">
                                    <div class="thumb">
                                        <a href="#"><img src="laravel.jpg" alt=""></a>
                                        <div class="social-icons">
                                            <div class="Agents-text-overlay">
                                                <div class="Agents-text">
                                                    <h3><a href="teacher-detail.html">Danny Ashton</a></h3>
                                                    <h4>Professor</h4>
                                                    <div class="attornery-img">
                                                        <a href="#"><img src="images/teacher4.jpg" alt=""></a>
                                                    </div>                                                  
                                                    <p>Felis pede quisquam, sed sit magna nulla est vel nulla, ante iaculis, vel vivamus, ea ultricies nullam maecenas. </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text">
                                        <h3><a href="teacher-detail.html">Danny Ashton</a></h3>
                                        <h4>Professor</h4>
                                        <div class="social-profile">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                            </ul>
                                        </div>                                          
                                    </div>
                                </div>
                            </div>                      
                        </div> -->
                        <!-- Attorney Container End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Attorney End -->   



        <!-- Apply Now Start -->
        <div class="apply-now-v1">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="item">
                            <div class="left">
                                <p>Don't wait .Apply right now for admission</p>
                            </div>
                            <div class="right">
                                <a href="#">Apply Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Apply Now End -->

        
        <!-- Footer Main Start -->
        <section class="footer-main">
            <div class="container">

            <h4 class="address text-center">International Institute of Professional Android, Web and IT Systems </h4>
            <h4 class="address text-center">Located at:</h4>
            <h4 class="address2 text-center"> The former Mount Cameroon Football Academy Campus, Buea</h4>
              <!--
                <div class="row">
                    <div class="col-sm-6 col-md-2 col-lg-2 footer-col">
                        <h3>Quick Menu</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <ul>
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">Disclaimer</a></li>
                                    <li><a href="#">Terms and Conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-2 col-lg-2 footer-col">
                        <h3>Study With Us</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <ul>
                                    <li><a href="#">Undergraduate</a></li>
                                    <li><a href="#">Postgraduate</a></li>
                                    <li><a href="#">International</a></li>
                                    <li><a href="#">Student Life</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-2 col-lg-2 footer-col">
                        <h3>Our Research</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <ul>
                                    <li><a href="#">Reasearch Lab</a></li>
                                    <li><a href="#">Research Guide</a></li>
                                    <li><a href="#">Research Center</a></li>
                                    <li><a href="#">Research Directory</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-2 col-lg-2 footer-col">
                        <h3>Alumni</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <ul>
                                    <li><a href="#">Benefits</a></li>
                                    <li><a href="#">Events</a></li>
                                    <li><a href="#">Register/Login</a></li>
                                    <li><a href="#">Volunteers</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-2 col-lg-2 footer-col">
                        <h3>For Students</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <ul>
                                    <li><a href="#">Student Gateway</a></li>
                                    <li><a href="#">Student DUO</a></li>
                                    <li><a href="#">Student Complaints</a></li>
                                    <li><a href="#">Student Discipline</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-2 col-lg-2 footer-col">
                        <h3>For Staff</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <ul>
                                    <li><a href="#">Staff Gateway</a></li>
                                    <li><a href="#">Staff Directory</a></li>
                                    <li><a href="#">Staff Schedule</a></li>
                                    <li><a href="#">Staff Attendance</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                -->
            </div>
        </section>

        <!-- Footer Main End -->

        
        <!-- Footer Bottom Start -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 copyright">
                        Copyright &copy; 2017, International Institute of Professional Android, Web and IT Systems. All Rights Reserved.
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Bottom End -->
    </div>
</div>

        
        

   
    
       
    
   
